.markdown{
	padding: 20px 32px 25px 38px;
	line-height: 1.8em;
}

.markdown-text{
	margin-bottom: 20px;
}

.markdown-text img{
	max-width: 604px;
}

.markdown-title{
	display: inline-block;
	margin-bottom: 10px;
}

.markdown li{
	list-style-type: decimal;
}

.markdown ol{
	-webkit-padding-start: 40px;
}


.markdown h1,h2,h3,h4{
	color: #222;
}

.markdown h1,h2,h3{
	line-height: 1.5em;
}

.markdown a{
	color: #3AA2B4;
}

.markdown a:hover{
	color: #E26C6C;
}

.markdown blockquote {
    border-left: 0.4em solid #DDD;
    margin: 15px 0 25px 0;
    padding: 0 15px;
    color: #777;
}

code{ 
	padding: 2px 4px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

.markdown strong {
    color: #060606;
    font-weight: normal;
    font-size: 1.1em;
}